<h1 >ToDo LIST</h1>

<input type="search" [(ngModel)]="inputText">

<button (click)="addItem()" class="btn btn-warning add" >Добавить дело</button>
<button class="btn btn-warning edit" hidden="hidden" >Изменить</button>

<ul class="list-group">
  <app-list-item
    (onEdit)="edit($event)"
    (onRemove)="remove($event)"
    (onChange)="change($event)"
    [itemInput]="item"
    [index]="i"
    *ngFor="let item of list; let i = index">
  </app-list-item>
</ul>

<h3>А что сейчас в списке list?</h3>
<pre>{{ list | json }}</pre>

<h3>А что сейчас в списке inputText?</h3>
<pre>{{ inputText }}</pre>


